pais {
    text-align: center;
    border: 7px solid aqua;
    margin: 5rem auto;
    font-family: arial, helvetica, roboto, "new times roman", lato;
}

cabecera {
    color:blue;
    display:auto;
}
habitantes{
    color: hotpink;
}
altura{
    color: darkred;
    display: auto;
}