pais{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 600px;
    border: 5px solid;
    font-family: arial, helvetica, roboto, "new times roman", lato;
}
departamento1{
    color: deepskyblue;
    display: block;
}
departamento3{
    color: firebrick;
    display: block;
}
departamento2{
    color: gold;
}